@import url(/rsschool-cv/src/css/base/variables.css);

.header {
    margin-top: 2.62rem;
}

.header__container {
    width: 100%;
    padding: 0 1rem
}

.header__nav {
    display: none;
}

.header__nav-element {}


.header__logo {
    font-size: 2rem;
    background: var(--main-gradient);
    background-clip: text;
    color: transparent;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 700;
    line-height: 110%;
}

.header__logo:hover {
    color: var(--text-color);
}

.header__logo:focus {
    color: var(--focus-color);
}

.header__logo:active {
    color: var(--active-color);
}

.header__button {
    display: none;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .header__container {
        max-width: 720px;
        padding: 0;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1440px) {
    .header {
        margin-top: 20px;
    }

    .header__container {
        max-width: 77.5rem;
    }

    .header__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;


    }

    .header__nav-element {
        list-style: none;
        color: var(--text-color);
        font-size: 1.25rem;
        letter-spacing: 0.0625rem;

        a:hover {
            background: var(--hover-color);
            background-clip: text;
            color: transparent;
        }

        a:focus {
            color: var(--focus-color);
        }

        a:active {
            color: var(--active-color);
        }
    }


    .header__button {
        display: block;
        padding: 0.75rem 1.25rem;
        border-radius: 0.75rem 0.75rem 0rem 0.75rem;
        background: var(--main-gradient);
        color: var(--second-color-white);
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
        font-size: 1.25rem;
    }

    .burger {
        display: none;
    }
}

@media screen and (min-width: 1920px) {
    .header__container {
        max-width: 101.25rem;
    }
}